<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-9">
      <h1>Add Meppe</h1>
      <form role="form" name="myForm">

        <div class="form-group">
          <label for="meppeName">Name:</label>
          <input class="form-control" id="meppeName" type="text" ng-model="create.name" placeholder="Name for meppe" required/>
        </div>

        <div class="form-group">
          <label for="meppeDescription">Description:</label>
          <textarea placeholder="Description for meppe" class="form-control" id="meppeDescription" type="text" ng-model="create.description" size="5"
                  required></textarea>
        </div>

        <div class="form-group">
          <label for="meppeCategory">Category:</label>
          <select class="form-control" id="meppeCategory" ng-model="create.selectedCategory" ng-options="c.name for c in create.categories">
            <option value="">Select category for meppe</option>
          </select>
        </div>

        <button type="submit" class="btn btn-default" ng-click="saveMeppe()" ng-disabled="isSaveDisabled()">Save</button>
        <button class="btn btn-danger" ng-click="cancel()" ng-disabled="isCancelDisabled()">Cancel</button>

      </form>
    </div>
  </div>
</div>

<createMeppe></createMeppe>
